name: Build and Test

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]
    workflow_dispatch: {} # Allow manual triggering of the workflow

jobs:
    build-test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout the repository
              uses: actions/checkout@v4
            - name: Use Node.js 18.x
              uses: actions/setup-node@v4
              with:
                  node-version: 18.x
                  cache: "npm"
            - name: Install dependencies, build, and test
              run: npm install
            - name: Run tests
              run: npm test
    security-tests:
        needs: build-test
        runs-on: ubuntu-latest
        steps:
            - name: Checkout the repository
              uses: actions/checkout@v4
            - name: Use Node.js 18.x
              uses: actions/setup-node@v4
              with:
                  node-version: 18.x
                  cache: "npm"
            - name: Install dependencies, build, and test
              run: npm install
            - name: Run security tests
              run: npm audit
